* {
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

p{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    color: orange;
}

.container{
    position: relative;
  }

  .caja{
    width: 180px;
    height: 180px;
    color: #FFF;
    text-align: center;
    line-height: 180px;
    margin: 15px;
    float: left;
    font-size: 18px;
    font-family: Arial;
  }
  .caja1{
    background-color: #C0392B;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  .caja1:hover{
    -webkit-transform: scale(.5);
    transform: scale(.5);
  }
  .caja2{
    background-color: #9B59B6;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  .caja2:hover{
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  .caja3{
    -webkit-transition: 1s linear;
    transition: 1s linear;
    background-color: #2980B9;
  }
  .caja3:hover{
    -webkit-transform: translate(10%);
    transform: translate(10%);
  }
  .caja4{
    background-color: #3498DB;
    -webkit-transition: 1s linear;
    transition: 1s linear;
  }
  .caja4:hover{
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }

  h2{
    text-transform: lowercase;
    color: black;   
  }